body {
    color:#434455;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
}
 

/* Header */

.header {
    background: #FFFFFF;
} 


/* logotip */
.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;

}
.logo-top {
    color: #2E2F42; 
}

ul {
    list-style-type: none;
}

.header-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-decoration: none;
}
.nav-list-item .header-link:hover {color: #404bbf}
.nav-list-item .header-link:focus {color:#404bbf}

.address-link { font-style: normal;}

.address-link-subtitle {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.address-link-item .address-link-subtitle:hover {color:#404bbf}
.address-link-item .address-link-subtitle:focus {color: #404bbf}

/* Busines */

.business-section {
    background-color: #2E2F42;
}
.main-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
}
.order-button {
    background-color:#4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
}
.order-button:hover,
.order-button:focus {background-color: #404bbf;}

/* Advantages */

.advantages-section {background-color: #FFF;}
.title {
    color:  #2E2F42; 
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em
}
.text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
} 

/* Our team */

.team-section {background-color: #F4F4FD;}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-item {
    background-color: #FFFFFF}

.team-title-item {
    background-color: #FFFFFF;
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-text {
    background-color: #FFFFFF;
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Portfolio */

.portfolio {background-color: #FFF;}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list-item {
    background-color: #FFFFFF;
}

.portfolio-title-item {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */

.page-footer { background-color: #2E2F42;}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;

}

.logo-bottom{color: #f4f4fd;}

.copyright-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 